.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    color: white
}
.title-splash{
color: black;
font-size: 30px;
font-weight: 400;
justify-content: center;
}
.splash-img{
    width: 150px; 
    height: 150px;
    border-radius: 50% black;
    
}
.spinner__text {
    color: rgb(252, 49, 49);
    padding-right: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
  }