.contacts{
  padding: 120px 0 90px 0;
  display: flex;
  justify-content: center;  
  align-items: center;   

&_wrapper{
  padding: 0 35px;
  display: flex;
  flex-direction: column;   
  align-items: center;   
  max-width: 800px;        
  width: 100%;      

}  
&_photo{

img{
width: 100%;  
}  

} 
&_title{

 
  position: relative;

  margin-bottom: 100px;
  margin-top: 80px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: grey;
    text-align: center;
     margin-bottom: 50px;
   text-decoration: underline;
   
  }  
  &_descr{ 
  padding-top: 10px;
  margin-left: 40px;
  margin-bottom: 40px;

} 
&_text, &_social{  
  margin-top: 20px;
 }    
&_link{
margin-right: 25px;
img{
 max-width: 30px; 
max-height: 30px;
}  

} 
&_form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;                // Space between form fields
  width: 100%;
  max-width: 600px;  
}
  

&_input{
  position: relative;
  &_input2{
    position: relative;

  }
input{
  width: 100%; 
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}  
}  
&_textarea{
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
 
textarea{
 
width: 100%;  
height: 150px;
resize: vertical;
font-size: 15px;
font-weight: 500;
padding: 20px;

}
}  
.divider{ 
  margin: 0;
 position: relative;
 top: 20px
}  
label{ 
display: block;
position: absolute;
height: 18px;
padding: 0 8px;
top: -12px;
left: 12px;
background-color: white;
color: black;
}
}  
.contacts_btns{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px 15px;
  background-color: aqua;
  border-radius: 5px;       // Adjust border radius for consistency
  margin-top: 20px;         // Add space above the button
  cursor: pointer;          // Change cursor to pointer for better UX
  align-self: center;  

}  

.contacts_description{

  position: relative;
  padding-left: 15px;
  font-size: 15px;
  font-weight: bold;
  line-height: 25px;
  padding: 1px 0 0 12px;
  text-decoration: underline;
  margin-top: 50px;
 
}

.checkbox-container {
  display: flex;
  align-items: center;   
  gap: 10px;               
  margin-top: 20px;       
}


.checkbox-container input[type="checkbox"] {

    margin: 0;    
}

.checkbox-container label a {
  color: blue;
  text-decoration: underline;
  margin: 0;
}


 
  