.title-price{
	margin-bottom: 20px;

	font-size: 32px;
	font-weight: 700;
	line-height: 1.3;
	color: grey;
	text-align: center;
 text-decoration: underline;
 position: relative;
 
}
.title-price::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #0070f3;
  margin: 10px auto 0;
  border-radius: 3px;
}

.subtitle-price{
   
  margin-bottom: 100px;
  margin-top: 80px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    color: grey;
    text-align: center;
     margin-bottom: 50px;
   text-decoration: underline;
    }

.pricing-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
  }

  @media (max-width: 768px) {
    .price-card  {
      max-width: 100%;
    }
  }
  
  @media (max-width: 480px) {
    .price-card {
      padding: 10px;
    }
  }